
body{
    overflow-x: hidden;
    width: 100vw;
}
.container{
    margin-top:0px;
}
.owl-carousel .card img{
    height:20vh;
    object-fit: cover;
}

.owl-carousel .card{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.owl-prev{
    left: -15px;
}
.owl-next{
    right: -15px;
}

.owl-prev, .owl-next{
    position:absolute;
    top:50px;
}

.owl-prev span, .owl-next span{
    font-size: 80px;
    color: black;
}

.courses .card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.card:hover{
     transform: translateY(10px);
     -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
     -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
     transition:.5s ;
     -webkit-transition:.5s ;
     -moz-transition:.5s ;
     -ms-transition:.5s ;
     -o-transition:.5s ;
}
.card a{
    background-color: rgb(20, 202, 139);
    color: rgb(29, 12, 12);
    font-family: monospace;
    margin:8px;
    font-weight: bold;
}
.card a:hover{
    background-color: dimgrey;
}
.courses img{
    height:25vh;
    object-fit: cover;
}


/*back to top button css*/

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-10px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
  
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
      .container{
          margin-top: 15px;
      }
     .container .courses{
         margin-top: 15px;
     }
  }