
body{
    overflow-x: hidden;
    width: 100vw;
}
.container{
    margin-top:0px;
}
.owl-carousel .card img{
    height:20vh;
    object-fit: cover;
}

.owl-prev{
    left: -25px;
}
.owl-next{
    right: -25px;
}

.owl-prev, .owl-next{
    position:absolute;
    top:50px;
}

.owl-prev span, .owl-next span{
    font-size: 80px;
    color: black;
}



.courses img{
    height:25vh;
    object-fit: cover;
}