
body{
    overflow-x: hidden;
    width: 100vw;
}
.container{
    margin-top:0px;
}
.owl-carousel .card img{
    height:20vh;
    object-fit: cover;
}

.owl-carousel .card{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.owl-prev{
    left: -15px;
}
.owl-next{
    right: -15px;
}

.owl-prev, .owl-next{
    position:absolute;
    top:50px;
}

.owl-prev span, .owl-next span{
    font-size: 80px;
    color: black;
}

.courses .card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.courses .card:hover{
    border-top-left-radius: 20px;
}
.courses img{
    height:25vh;
    object-fit: cover;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
      .container{
          margin-top: 15px;
      }
     .container .courses{
         margin-top: 15px;
     }
  }