.sb-search {
    position: relative;
    margin-top:-10px;
    margin-right:20px;
    width: 0%;
    min-width:50px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    outline: none;
    background: rgb(233, 230, 230);
    width:50%;
    height: 60px;
    margin: 0;
    z-index:10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #3f5469;
    border: 1px solid black;
}

input[type="search"].sb-search-input {
     -webkit-appearance: none;
     border-radius:25px ;
     -webkit-border-radius:25px ;
     -moz-border-radius:25px ;
     -ms-border-radius:25px ;
     -o-border-radius:25px ;
}
.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}
 
.sb-search-input:-moz-placeholder {
    color: #efb480;
}
 
.sb-search-input::-moz-placeholder {
    color: #efb480;
}
 
.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 60px;
    height:60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff;
    /*IEneedsthis*/
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE8*/filter: alpha(opacity=0);
    /*IE5-7*/opacity: 0;
    color: transparent;
    color:red;
    border: none;
    outline: none;
    z-index: -1;
    
}


.sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.sb-icon-search:before {
    content: "";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .sb-search{
        margin-right:0px;
      }
   .sb-search-input{
       width:80%;
       height: 50px;
   }
   .sb-icon-search,
   .sb-search-submit{
       height: 50px;
       border-radius: 25px;
       -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
       -ms-border-radius: 25px;
       -o-border-radius: 25px;
}
}